body {
    background-color: rgb(151, 178, 217);
    min-height: calc(100vh + 1000px);
}

canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    top: 0; left: 0;
    z-index: -1;

}

h1 {
    font-size: 32pt;
}

h1, #h1 {
    text-align: center;
}

h1, h2, p, button {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 600px;
    margin: auto;
    line-height: 1.4em;
}

h2, p {
    margin-bottom: 1em;
}

.annotation {
    position: relative;
    padding: 32px;
    z-index: 1;
    color: aliceblue;
}

.sec {
    max-width: 30vw;
    margin-top: 390px;
    margin-bottom: 400px;
    padding: 10px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.473);

    --mask: /* MAKES THE TOP & BOTTOM SPIKY LIKE NEWSPAPER */
    conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/12.00px 51% repeat-x,
    conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/12.00px 51% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.sec h2, .sec p {
    color: #2b282c;
}

.right {
    margin-left: 70%;
}

button {
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 12px;
    z-index: 2;

    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}